# data
data/
datasets/
*.csv

# models
model/
models/
*.pt
*.pth

# logs
logs/
*.log

# python
__pycache__/
*.pyc

# env
.env
venv/
.venv*/

# jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store